.seccion-contacto{
    margin-top: 10vh;
    background-image: url('../Imagenes/fondo-contacto.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}
.seccion-contacto-titulo{
        text-align: center;
        color: #18181b;
        font-size: 35px;
        padding: 0 0 10px 0;
        font-family: 'Oswald', sans-serif;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    width: 80%;
}
.item-formulario {
    width: 100%;
}
.label-formulario{
    color: #18181b;
    text-align: left;
    font-size: 25px;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    margin: 20px 0;
}
.input-formulario{
    color: #18181b;
    text-align: left;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
    margin: 0 20px;
    background-color: rgba(255, 255, 255, 0.578);
    border: 1px #fa6900 solid;
    border-radius: 15px;
    padding: 10px;
}
.input-formulario:focus{
    border: 1px #fa6900 solid;
    background-color: white;
    outline: none;
}
.textarea-formulario{
    height: 200px;
    width: 100%;
}
.boton-enviar-formulario, .boton-enviar-formulario:active{
    width: 100%;
    color: #fa6900;
    text-align: center;
    font-size: 25px;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.578);
    border: 1px solid #fa6900;
    height: 3rem;
    border-radius: 10px;
    transition: all 0.3s;
    animation: titilar 2s infinite;
    cursor: pointer;
    margin: 10px 0;
}
.boton-enviar-formulario:hover{
    background-color: #fa6900;
    color: white;
}
.alerta-formulario{
    color: transparent;
    text-align: left;
    font-size: 15px;
    font-family: 'Cabin', sans-serif;
}
.alerta-formulario-activa{
    color: red;
}
.contenedor-mensaje-enviado{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
}
.texto-mensaje-enviado{
    color: #18181b;
    text-align: left;
    font-size: 25px;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    margin: 20px 0;
}
.boton-enviar-otromensaje, .boton-enviar-otromensaje:active{
    width: 100%;
    color: #fa6900;
    text-align: center;
    font-size: 25px;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.578);
    border: 1px solid #fa6900;
    height: 3rem;
    border-radius: 10px;
    transition: all 0.3s;
    animation: titilar 2s infinite;
    cursor: pointer;
    margin: 10px 0;
}
.boton-enviar-otromensaje:hover{
    background-color: #fa6900;
    color: white;
}
@keyframes titilar {
    0%, 100% {
        box-shadow:  0 0 2px white;
    }
    50% {
        box-shadow:  0 0 2px #fa6900;
    }
  }
.contenedor-copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.copyright-texto{
    color: white;
    font-family: sans-serif;
    font-size: 14px;
}
/*Media Queries*/
@media (min-width: 768px) {
    .seccion-contacto{  
        margin-top: 30vh;
    }
    .seccion-contacto-titulo{
        font-size: 45px;
    }
    .formulario{
        padding: 50px;
    }
    .label-formulario{
        font-size: 30px;
    }
    .input-formulario{
        font-size: 30px;
    }
    .boton-enviar-formulario{
        width: 30rem;
    }
    .boton-enviar-otromensaje{
        width: 30rem;
    }
}
@media (min-width: 1024px) {
    .seccion-contacto{  
        margin-top: 500px;
        padding: 0;
    }
    .seccion-contacto-titulo{
        font-size: 35px;
    }
    .formulario{
        width: 500px;
        padding: 30px 0 0 0;
    }
    .label-formulario{
        font-size: 20px;
    }
    .input-formulario{
        font-size: 20px;
    }
    .boton-enviar-formulario, .boton-enviar-formulario:active,.boton-enviar-otromensaje, .boton-enviar-otromensaje:active{
        width: 15rem;
        font-size: 20px;
    }
    .boton-enviar-formulario:active ,.boton-enviar-otromensaje:hover{
        color: #fa6900;
        background-color: rgba(255, 255, 255, 0.578);
        border: 1px solid #fa6900;
    }
}