.seccion-inicio{
    padding: 10px;
    height: 50vh;
    background-color: #18181b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo-texto{
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    text-align: center;
    color: #fef1f7;
}
.eslogan-texto{
    font-style: italic;
    font-size: 20px;
    color: #fef1f7;
}
.imagen-fondo{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-image: url('../Imagenes/imagen-fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    animation: alejarAcercar 15s infinite;
}
.boton-inicio{
    cursor: pointer;
    background-color: transparent;
    padding: .3rem 2rem;
    text-align: center;
    text-decoration: none;
    color: #ca0c47;
    border: 2px solid #ca0c47;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 30px;
    transition: .2s all ease;
}
.boton-inicio:hover{
    color: #fef1f7;
    border: 2px solid #fef1f7;
}
@keyframes alejarAcercar {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2); 
    }
  }
/*Media Querires*/
@media (min-width: 480px) {
    .seccion-inicio{
        height: 60vh;;
    }
    .titulo-texto{
        font-size: 4rem;
    }
    .eslogan-texto{
        font-size: 30px;
    }
    .boton-inicio{
        font-size: 26px;
    }
}
@media (min-width: 768px) {
    .seccion-inicio{
        height: 80vh;;
    }
    .titulo-texto{
        font-size: 6rem;
    }
    .eslogan-texto{
        font-size: 30px;
    }
    .boton-inicio{
        font-size: 24px;
    }
}
@media (min-width: 1024px) {
    .seccion-inicio{
        height: 80vh;;
    }
    .titulo-texto{
        font-size: 4rem;
    }
    .eslogan-texto{
        font-size: 25px;
    }
    .boton-inicio{
        font-size: 20px;
    }
}
