.item-menu{
    margin:0 5px;
    padding: 10px;
    cursor: pointer;
    color: #ca0c47;
    font-size: 1.5rem;
    transition: .3s ease all;
    position: relative;
    text-align: center;
    user-select: none;
    text-decoration: none;
}
.item-menu::after{
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -3px;
    height: .1rem;
    transition: .3s ease all;
}
.item-menu:hover::after, .item-menu.activo::after{
    background-color: #ca0c47;
}
/*Media Querires*/
@media (min-width: 480px) {
    .item-menu{
        font-size: 2rem;
        margin:5px 9px;
    }
}
@media (min-width: 1024px) {
    .item-menu{
        font-size: 1.2rem;
        margin: 0;
    }
}